<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      
      <img src="../../../../../assets/img/analogo.jpg" width="100" alt="Logo" class="logo">
      <h1 class="title">Misafir Takip Sistemi</h1>
      <h1 class="title">Misafir dsadsa Sistemi</h1>
      <p class="subtitle">{{'Login' | translate}}</p>
    </div>

    <form (submit)="login()" class="login-form">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{'Email' | translate}}</mat-label>
        <input matInput name="email" [(ngModel)]="loginUser.email">
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{'Password' | translate}}</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" [(ngModel)]="loginUser.password">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
          {{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{'Language' | translate}}</mat-label>
        <mat-select name="lang" [(ngModel)]="loginUser.lang" (selectionChange)="changeLang($event.value)">
          <mat-option *ngFor="let item of langugelookUp" [value]="item.id">
            {{item.label}}
          </mat-option>
        </mat-select>
        <mat-icon matPrefix>language</mat-icon>
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" class="login-button">
        <mat-icon>login</mat-icon>
        {{'Login'| translate}}
      </button>

      <button mat-flat-button color="accent" type="button" (click)="getLanguageCodes()" class="language-button" style="margin-top: 10px;">
        <mat-icon>language</mat-icon>
        Dil Kodlarını Getir
      </button>
    </form>
  </div>
</div>
