<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 style="padding-bottom: 30px;" class="card-title">{{'VisitList'| translate}}</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="row" *ngIf="visitList">
                <div style="font-weight: bold;" class="col-md-4">
                  {{ totalItemCount }} kayıt arasından {{ visitList.length }} kayıt listeleniyor
                </div>
                <div class="col-md-4">
                  <div class="pagination-container" *ngIf="totalPages > 0">
                    <nav aria-label="Page navigation">
                      <ul class="pagination">
                        <!-- Önceki Sayfa Butonu -->
                        <li class="page-item" [class.disabled]="page === 1">
                          <a class="page-link" (click)="onPageChange(page - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                
                        <!-- Sayfa Numaraları ve "..." İşaretleri -->
                        <li class="page-item" *ngFor="let p of getPagination()" [class.active]="p === page">
                          <a class="page-link" *ngIf="p !== -1" (click)="onPageChange(p)">{{ p }}</a>
                          <span class="page-link dots" *ngIf="p === -1">...</span>
                        </li>
                
                        <!-- Sonraki Sayfa Butonu -->
                        <li class="page-item" [class.disabled]="page === totalPages">
                          <a class="page-link" (click)="onPageChange(page + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <mat-form-field class="float-right">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                  </mat-form-field>
                </div>
              </div>
							<table mat-table [dataSource]="dataSource" matSort class="w-100">


								
                 
	
                   <ng-container matColumnDef="createdDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'CreatedDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.createdDate | date:'dd.MM.yyyy HH:mm'}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="personnelId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'PersonnelId'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.personnelId}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="visitorFullName">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-light">{{'VisitorFullName'|translate}}</th>
                     <td mat-cell *matCellDef="let element" class="font-weight-bold">{{element.visitorFullName}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="visitorLicensePlate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-light">{{'VisitorLicensePlate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">
                       <span *ngIf="element.vehicleEntry" class="badge badge-info">
                         {{element.visitorLicensePlate}}
                       </span>
                     </td>
				   </ng-container>
	
                   <ng-container matColumnDef="vehicleEntry">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'VehicleEntry'|translate}}</th>
                     <td mat-cell *matCellDef="let element"> 
                        <mat-checkbox [checked]="element.vehicleEntry" [disabled]="true"></mat-checkbox>
                     </td>
				   </ng-container>
	
                   <ng-container matColumnDef="multiPersonVisit">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-light">{{'MultiPersonVisit'|translate}}</th>
                     <td mat-cell *matCellDef="let element">
                       <mat-icon *ngIf="element.multiPersonVisit" class="text-info">group</mat-icon>
                     </td>
				   </ng-container>
	
                   <ng-container matColumnDef="isConfirm">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-light">{{'IsConfirm'|translate}}</th>
                     <td mat-cell *matCellDef="let element">
                       <mat-icon [class.text-success]="element.isConfirm" [class.text-danger]="!element.isConfirm">
                         {{element.isConfirm ? 'check_circle' : 'cancel'}}
                       </mat-icon>
                     </td>
				   </ng-container>
	
                   <ng-container matColumnDef="isExit">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-light">{{'IsExit'|translate}}</th>
                     <td mat-cell *matCellDef="let element">
                       <mat-icon [class.text-success]="element.isExit" [class.text-warning]="!element.isExit">
                         {{element.isExit ? 'exit_to_app' : 'schedule'}}
                       </mat-icon>
                     </td>
				   </ng-container>
	
                   <ng-container matColumnDef="status">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-light">{{'Status'|translate}}</th>
                     <td mat-cell *matCellDef="let element">
                       <mat-chip-list>
                         <mat-chip [color]="element.status ? 'primary' : 'warn'" selected>
                           {{element.status ? 'Aktif' : 'Pasif' | translate}}
                         </mat-chip>
                       </mat-chip-list>
                     </td>
				   </ng-container>
	
                  
	
                   <ng-container matColumnDef="isReject">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-light">{{'IsReject'|translate}}</th>
                     <td mat-cell *matCellDef="let element">
                       <span *ngIf="element.isReject" class="badge badge-danger">
                         {{element.reasonForRejection}}
                       </span>
                     </td>
				   </ng-container>
	
                   <ng-container matColumnDef="approvalDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'ApprovalDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.approvalDate}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="exitDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-light">{{'ExitDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">
                       <span *ngIf="element.exitDate" class="text-danger">
                         {{element.exitDate | date:'dd.MM.yyyy HH:mm'}}
                       </span>
                     </td>
				   </ng-container>
	
                   <ng-container matColumnDef="visitStartDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-light">{{'VisitStartDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">
                       <span class="text-primary">
                         {{element.visitStartDate | date:'dd.MM.yyyy HH:mm'}}
                       </span>
                     </td>
				   </ng-container>
	
                   <ng-container matColumnDef="visitEndDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-light">{{'VisitEndDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">
                       <span class="text-primary">
                         {{element.visitEndDate | date:'dd.MM.yyyy HH:mm'}}
                       </span>
                     </td>
				   </ng-container>




							

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-light"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                    [class.bg-warning-light]="row.isReject"
                    [class.bg-success-light]="row.isConfirm && !row.isExit"
                    [class.bg-info-light]="row.isExit"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
                    {{'NoRecordsFound' |translate}} "{{input.value}}"
                  </td>
                </tr>
							</table>
							<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize"></mat-paginator>
							</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon = "error" [showCancelButton]="true"
	[confirmButtonText] = "'OK'"[cancelButtonText] = "'Cancel'" >
</swal>

