<div class="container-fluid">
  <div class="card" style="margin-top: 15px;">
    <div class="card-header bg-white">
      <h5 class="card-title mb-0">Filtreleme</h5>
    </div>
    <div class="card-body py-2">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Başlangıç</mat-label>
            <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" (dateChange)="onStartDateChange()" placeholder="Seçiniz">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Bitiş</mat-label>
            <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" (dateChange)="onEndDateChange()" placeholder="Seçiniz">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>İsim</mat-label>
            <input matInput [(ngModel)]="searchName" placeholder="İsim giriniz">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>İşlem</mat-label>
            <mat-select [(ngModel)]="selectedProcessType">
              <mat-option value="Ziyaret Talebi">Ziyaret</mat-option>
              <mat-option value="Güvenlik Onay">Güvenlik Onay</mat-option>
              <mat-option value="Güvenlik Red">Güvenlik Red</mat-option>
              <mat-option value="Rapor Oluşturma">Rapor Oluşturma</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button mat-raised-button color="primary" (click)="onSearch()">
            <i class="fas fa-search"></i>
            Ara
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
    </div>
  </div>
</div>